<div class="container-fluid m-0 p-0">
  <div class="header d-flex justify-content-center flex-column">
    <div class="align-self-center text-center">
      <h1>{{title}}</h1>
      <p>A place to connect with missionaries around the world</p>
    </div>
    <div id="header">
      <ul class="nav">
        <li class="nav-item">
          <a class='btn' routerLink='' routerLinkActive='active'>Home</a>
        </li>
        <li class="nav-item">
          <a class='btn' routerLink='addnew' routerLinkActive='active'>Add New Missionary</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
