<div>
    <h1>Ben and Natalie Allion </h1>
    <div class=image>
        <!-- <img src='https://agmd.org/Profile/ViewImage?ProfileGUID=4fe08f0c-2e30-4c23-b567-cfbaf71bd839&AssetID=8'> -->
        <img src='assets/images/missionaryOne.jpg'>
        <!-- <img src='missionaryOne.jpg'> -->
    </div>
    <div class=location>
        <h3>Panama, Latin America, and the Caribbeans</h3>
    </div>
    <div class='col-sm-6 col-md-offset-1'>
        <div class=aboutUs>
            <p>
                With the Lord's help we plan to evangelize and make disciples among the immigrant UPG 
                community living in Panama City. We will be collaborating with a local church plant 
                focused on ministering to internationals to get them incorporated into a community of 
                faith. We have also been invited to help with the National Department of Missions in 
                order to mobilize new Panamanian missionaries to do overseas missions.
            </p>
            <p>
                We also have accepted the role to help the Latin American countries in our region begin 
                to focus on reaching these Muslim, Buddhist and Jewish communities who have migrated 
                to live among us far from their restricted access countries. We plan to gather and create 
                new materials to help equip national churches and Bible institutes to reach and disciple 
                these ethnicities.
            </p>
            <p>Please join us as our prayer partners! </p>
        <div class=contactUs>
            <p> Contact us for more information: ben.allion@agmd.org</p>
        </div>
        </div>
    </div>
</div>