<div class="container-fluid m-0 p-0">
  <div class="header d-flex justify-content-center flex-column pb-0">
    <div class="align-self-center text-center">
      <h1>{{ title }}</h1>
      <p>A place to connect with missionaries around the world</p>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
  </div>
  <div class="row d-flex justify-content-between m-1">
    <div class="col-xs-12 col-sm-5 pt-5">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search p-2">
        <input
          type="text"
          class="searchInput d-flex form-control"
          id="name"
          name="name"
          formControlName="name"
          placeholder="Search by Missionary or Ministry"
        />
        <select class="d-flex form-control" formControlName="continent" name="continent" id="continents">
          <option [ngValue]="null" disabled>
            Select Continent
          </option>
          <option *ngFor="let continent of continents" [ngValue]="continent.name">{{continent.name}}</option>
        </select>
        <select class="d-flex form-control" formControlName="country" name="country" id="countries">
          <option [ngValue]="null" disabled>
            Select a Country
          </option>
          <option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
          
        </select>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary col-4">
            Search
          </button>
        </div>
      </form>
      <div class="col pt-2">
        <a class="pt-sm-1 pt-md-3" routerLink="database">View Full Directory</a>
      </div>
    </div>
    <div class="col col-sm-6 offset-sm-1 d-flex pt-5 text-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
